.Navcontact-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
*{
  box-sizing: border-box;
}
.Navcontact-container-left{
  height: 90vh;
  width: 45%;
  background-color: rgb(236, 231, 231);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/contact-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
 
}
.Navcontact-container-left::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(8px);
}

.Navcontact-container-right{
  height: 90vh;
  width: 55%;
  /* background-color: rgb(236, 231, 231); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.Navcontact-left-content{
  margin-left: 80px;
}
.navcontact-heading-left{
  text-align: center;
  position: relative;
  z-index: 1;
}
.navcontact-p-left{
  text-align: center;
  position: relative;
  z-index: 1;
}
.Navcontact-right-content-form{
  background-color: white;
  width: 50%;
  height: 70%;
  padding: 20px;
  margin: auto;
  box-shadow: 0px 20px 24px 3px rgba(69, 69, 68, 0.42)

}
.Navcontact-title{
 text-align: center;
}
.lg-view{
  text-align: center;
}
.Contact-input{
  display: flex;
  flex-direction: column;
  margin: 10px 0px 10px 0px;
  align-items: center;
  justify-content: center;
}
.Contact-name-input{
  height: 35px;
  width: 350px;
  border: gray 1px solid;
  padding: 2px;
}
.Contact-email-input{
  height: 35px;
  width: 350px;
  border: gray 1px solid;
  padding: 2px;
}
.Contact-phone-input{
  height: 35px;
  width: 350px;
  border: gray 1px solid;
  padding: 2px;
}
.Contact-massage-input{
  height: 90px;
  width: 350px;
  border: rgb(203, 199, 199) 1px solid;
  padding: 2px;
}
.Contact-button{
  border: none;
  width: 150px;
  border-radius: 34px;
  color: white;
  transition: 0.6s;
  cursor: pointer;
  margin: 20px 0px 20px 0px;
  font-size: 16px;
  background-size: 200%;
  padding: 11px 26px 11px  26px;
  background-image: linear-gradient(to left,#FDA7DF ,#9980FA,#FDA7DF);
  box-shadow: 0px 20px 24px 3px rgba(69, 69, 68, 0.42)
}
.Contact-button:hover{
      background-position: right;   
}